.banner {
    background-color: #74C69D;
    padding-top: 40px;
    padding-bottom: 82px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    h6 {
        font-family: Work Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
    }

    h2 {
        font-family: Crimson Text;
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        color: #fff;
    }

    p {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 125%;
        color: #ffffff8c;

    }

    .btn {
        font-family: Work Sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        padding: 11px 48px;
        text-align: center;
        background-color: #fff;
        color: #212529;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
        .btn:hover{
            background-color: #212529;
            color: #fff;
    
        }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    gap: 120px;
}
/* Հեռախոսներ */
@media (max-width: 480px) {
  .banner {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .left h6 {
    font-size: 12px;
    letter-spacing: 3px;
  }

  .left h2 {
    font-size: 24px;
  }

  .left p {
    font-size: 13px;
  }

  .left .btn {
    font-size: 16px;
    padding: 8px 24px;
  }

  .container {
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
  }
}

/* Փոքր պլանշետներ */
@media (max-width: 768px) {
  .banner {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .left h6 {
    font-size: 14px;
    letter-spacing: 4px;
  }

  .left h2 {
    font-size: 32px;
  }

  .left p {
    font-size: 14px;
  }

  .left .btn {
    font-size: 18px;
    padding: 10px 36px;
  }

  .container {
    flex-direction: column;
    gap: 60px;
    width: 95%;
    margin: 0 auto;
    align-items: flex-start;
    img{
        width: 80%;
    }
  }
}

/* Միջին դեսքթոփներ */
@media (min-width: 769px) and (max-width: 1279px) {
  .banner {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .left h6 {
    font-size: 15px;
    letter-spacing: 4.5px;
  }

  .left h2 {
    font-size: 36px;
  }

  .left p {
    font-size: 15px;
  }

  .left .btn {
    font-size: 19px;
    padding: 10px 42px;
  }

  .container {
    // flex-direction: column;
    gap: 80px;
    width: 95%;
    margin: 0 auto;
    align-items: flex-start;
    img{
        width: 60%;
    }
  }
}

/* Մեծ դեսքթոփներ */
@media (min-width: 1280px) {
  .banner {
    padding-top: 40px;
    padding-bottom: 82px;
  }

  .left h6 {
    font-size: 16px;
    letter-spacing: 5px;
  }

  .left h2 {
    font-size: 40px;
  }

  .left p {
    font-size: 15px;
  }

  .left .btn {
    font-size: 20px;
    padding: 11px 48px;
  }

  .container {
    flex-direction: row;
    gap: 120px;
    width: 1280px;
    margin: 0 auto;
    align-items: center;
  }
}
